<template>
  <Tutorial />
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"
import Tutorial from "../compinents/Tutorial.vue"

export default defineComponent({
  components: {
    Tutorial,
  }
})
</script>
