<!-- Please remove this file from your project -->
<template>
  <div class="container">
    <!-- 项目初始化，可以开始搞事情了. -->
    <div class="text">
      {{count}}
    </div>
    <div class="text"> {{str}}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "@nuxtjs/composition-api";

export default defineComponent({
  head: {},
  components: {},
  setup() {
    const count = ref(0);
    const str = "项目初始化，可以开始搞事情了.";

    return {
      count,
      str,
    };
  },
});
</script>

<style lang="less" scope>
.container{
  margin:0;
  .text{
    font-size: 20px;
    color:#FF4800
  }
}
</style>
