<!-- Please remove this file from your project -->
<template>
  <div class="count">
    <!-- 项目初始化，可以开始搞事情了. -->
    {{count}}
    {{str}}
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "@nuxtjs/composition-api"

export default defineComponent({
  head: {},
  components: {},
  setup() {
    const count = ref(0)
    const str = "项目初始化，可以开始搞事情了."

    return {
      count,
      str,
    }
  },
})
</script>

<style>
</style>
